{{yield}}
<h4 class="htitle hply"> {{demo.title}}
    <small>
        <span class="tag-badge">#{{demo.type}}</span>'{{demo.date_str}}'
    </small>
</h4>
{{#if true}}
  <div id="source" data-source="{{demo.source}}"></div>
  <script type="text/javascript">
      var sourceName = Ember.$("#source").attr('data-source');
      Ember.$.get('/sources/' + sourceName, {}, function(data){
          var node = Ember.$( data );
          Ember.$('#source').append(node);
      });
  </script>
{{/if}}