<div id="main" class="container">
    <img {{action 'typeFilter' '_all'}} class="icon-type flag"  src="img/{{type}}demo.svg" alt="View all types of demos."/>
    <h1 class="htitle demoh1">{{title}}</h1>
    <p class="citation"> Here is a simple list of programming demos. Nothing really huge, but tiny examples of things
        had the chance to see during my engineering years. Each demo has a subject and a piece of pseudo code. </p>
    <h4>The demos</h4>
    <div id="listofdemos">
      {{#each records as |demo|}}
          <div class="row">
              <a {{action 'typeFilter' demo.type}} class="demo-img-icon" href="demos/type/{{demo.type}}">
                  <img class="icon-type"  src="img/{{demo.type}}demo.svg" alt=""/>
              </a>
              <div class="" class="democard">
                  <a href="player/{{demo.id}}">
                      <span class="demo-title">{{demo.title}} </span><small> {{demo.date_str}} • {{demo.type}} </small><br/>
                      <span class="demo-description">{{demo.description}}</span>
                  </a>
              </div>
          </div>
      {{/each}}
    </div>

    <hr/>
    <h4>The legend</h4>
    <div class="row" height="100px" id="demos-legend">
        {{#each legends as |lgd|}}
            <div class="three columns {{lgd.t}}" style="color: #{{lgd.color}};">
                <img alt="icon of a {{lgd.t}} demo" src="img/{{lgd.img}}.svg" />
                <div>{{lgd.msg}}</div>
            </div>
        {{/each}}
    </div>
</div>