<div id="main" class="container">
    <h1 class="htitle hply">
      <img class="icon-type flag"
           src="img/{{model.type}}demo.svg"
           alt="This is a {{model.type}} demo"/> Demo
      <small style="font-size: 0.5em; font-style: italic;">
          <span class="tag-badge">#{{model.type}} </span> - {{model.date_str}}
      </small>
    </h1>

    {{demo-card demo=model}}

    <div id="player-footer" class="row">

      {{#if asTools}}
          <div id="tools-bar">
            <span class="htitle">Tools:</span>
            <p>
              {{#each model.tools as |tool|}}
                <span class="tag-badge">
                    <i class="fa fa-wrench"></i>{{tool}}
                </span>
              {{/each}}
            </p>
          </div>
      {{/if}}

      {{#if asCredits}}
        <div id="credits">
            <span class="htitle">Thanks to:</span>
            <a href="{{model.credits.link}}" target="_blank">{{model.credits.ref}}</a>
        </div>
      {{/if}}


      {{#if asSeeAlso}}
        <div id="see-also">
            <span class="htitle">See also:</span>
            <a href="{{model.seeAlso.link}}">{{model.seeAlso.ref}}</a>
        </div>
      {{/if}}

  </div>

</div>